*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root {
    --spread: 5px;
    --inner-spread: 8px;
    --offset: 6px;
    --effect-opacity: 0.1;
}

body,html{
    background-color: #0071a4;
}

div.container{
    display:grid;
    padding: 1rem;
    grid-template:auto / auto auto auto auto auto;
    
}
div.container > div{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
    line-height: 22rem;
    text-align: center;
    font-size: 15rem;
    font-family:'Poor Story', cursive;
    border-radius: 20px;
    color: #0071a4;
    transition: text-shadow ease .7s,box-shadow ease-in-out .7s;
}
div.container > div:hover{
    color: #0071a4;
    text-shadow: calc(0px - var(--offset)) calc(0px - var(--offset)) var(--spread) rgba(255,255,255,0.1), var(--offset) var(--offset) var(--spread) rgba(0,0,0,0.1);
    box-shadow: calc(0px - var(--offset)) calc(0px - var(--offset)) var(--spread) 0 rgba(255,255,255,var(--effect-opacity)), var(--offset) var(--offset) var(--spread) 0 rgba(0,0,0,var(--effect-opacity));
}

footer:hover{
    text-shadow: calc(0px - var(--offset)) calc(0px - var(--offset)) var(--spread) rgba(255,255,255,0.1), var(--offset) var(--offset) var(--spread) rgba(0,0,0,0.1);
}